body{
    font-style: Bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
h1 {
    margin-bottom: 20px;
}

#gitusername{
    padding: 5px;
    margin-right: 10px;
    width:17%;
}
.user-profile {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
  }
  